Backend/Ceipal_Call_Analysis_Backend_Demo (2).json
{
  "name": "Ceipal_Call_Analysis_Backend_Demo",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        0
      ],
      "id": "bbff4558-0d97-4992-9411-4197ae8835ed",
      "name": "Whisper API1",
      "credentials": {
        "openAiApi": {
          "id": "BTGYufPT9u4eILNT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        500,
        1280
      ],
      "id": "e5789aca-7304-4df0-955f-cf951c485977",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "QiPOJtN1UJWBCyxz",
          "name": "Sattva-Project-APi-Key"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        708,
        1480
      ],
      "id": "c21909e6-a190-4dce-9caa-c3829c05e1c8",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "QiPOJtN1UJWBCyxz",
          "name": "Sattva-Project-APi-Key"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a9099f1a-02cb-45e8-8672-fd3d2d95adee",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        860
      ],
      "id": "f535199e-5050-4671-9988-561df3fdcc93",
      "name": "Webhook",
      "webhookId": "a9099f1a-02cb-45e8-8672-fd3d2d95adee"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_knowledge_base",
        "toolDescription": "=Search CEIPAL company information, documents, and knowledge base. Returns relevant context about company details, products, services, uploaded documents, and additional company information. Use this to answer questions about the company, find specific documents, or get background information.",
        "tableName": {
          "__rl": true,
          "value": "company_brain_embeddings",
          "mode": "list",
          "cachedResultName": "company_brain_embeddings"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        620,
        1282.5
      ],
      "id": "eaddbb52-3217-43e1-813e-2403679ad7e3",
      "name": "Supabase Vector Store (company_brain_embeddings)",
      "credentials": {
        "supabaseApi": {
          "id": "C8KVdbB0sNwgbR5D",
          "name": "Ceipal-Call-Analysis-Demo"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "discover_project_knowledge_base",
        "toolDescription": "Identify the most relevant project being discussed in the call transcript and fetch related context and documents.",
        "tableName": {
          "__rl": true,
          "value": "project_embeddings",
          "mode": "list",
          "cachedResultName": "project_embeddings"
        },
        "options": {
          "queryName": "search_project_context"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        916,
        1282.5
      ],
      "id": "e62eec16-67a4-48a7-8e6b-485b5499d575",
      "name": "Supabase Vector Store (project_discovery)",
      "credentials": {
        "supabaseApi": {
          "id": "C8KVdbB0sNwgbR5D",
          "name": "Ceipal-Call-Analysis-Demo"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1004,
        1480
      ],
      "id": "cae9442b-9416-4778-994f-1af9d590e697",
      "name": "Embeddings Google Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "QiPOJtN1UJWBCyxz",
          "name": "Sattva-Project-APi-Key"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1732,
        480
      ],
      "id": "c8c1bdc5-c140-4b57-b638-bd2e0780e946",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QiPOJtN1UJWBCyxz",
          "name": "Sattva-Project-APi-Key"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1940,
        680
      ],
      "id": "40f341a6-f2d7-426b-9f5a-44fdf5250687",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "QiPOJtN1UJWBCyxz",
          "name": "Sattva-Project-APi-Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_knowledge_base",
        "toolDescription": "=Search CEIPAL company information, documents, and knowledge base. Returns relevant context about company details, products, services, uploaded documents, and additional company information. Use this to answer questions about the company, find specific documents, or get background information.",
        "tableName": {
          "__rl": true,
          "value": "company_brain_embeddings",
          "mode": "list",
          "cachedResultName": "company_brain_embeddings"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        1852,
        482.5
      ],
      "id": "39962114-9ede-4631-a3b9-0d9ad4290fa7",
      "name": "Supabase Vector Store (company_brain_embeddings)1",
      "credentials": {
        "supabaseApi": {
          "id": "C8KVdbB0sNwgbR5D",
          "name": "Ceipal-Call-Analysis-Demo"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "discover_project_knowledge_base",
        "toolDescription": "Identify the most relevant project being discussed in the call transcript and fetch related context and documents.",
        "tableName": {
          "__rl": true,
          "value": "project_embeddings",
          "mode": "list",
          "cachedResultName": "project_embeddings"
        },
        "options": {
          "queryName": "search_project_context"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        2148,
        482.5
      ],
      "id": "89727b8a-1f19-4c6c-9838-dea80f0393b2",
      "name": "Supabase Vector Store (project_discovery)1",
      "credentials": {
        "supabaseApi": {
          "id": "C8KVdbB0sNwgbR5D",
          "name": "Ceipal-Call-Analysis-Demo"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2236,
        680
      ],
      "id": "35da9f26-e6de-44d2-82a7-21a6476f5d21",
      "name": "Embeddings Google Gemini4",
      "credentials": {
        "googlePalmApi": {
          "id": "QiPOJtN1UJWBCyxz",
          "name": "Sattva-Project-APi-Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analyses",
        "filters": {
          "conditions": [
            {
              "keyName": "recording_id",
              "condition": "eq",
              "keyValue": "={{ $('Set Transcript').item.json.body.recording_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "Completed"
            },
            {
              "fieldId": "participants",
              "fieldValue": "={{ $('Formatting JSON').item.json.participants }}"
            },
            {
              "fieldId": "sentiments_score",
              "fieldValue": "={{ $('Formatting JSON').item.json.sentiments_score }}"
            },
            {
              "fieldId": "engagement_score",
              "fieldValue": "={{ $('Formatting JSON').item.json.engagement_score }}"
            },
            {
              "fieldId": "confidence_score_person",
              "fieldValue": "={{ $('Formatting JSON').item.json.confidence_score.person }}"
            },
            {
              "fieldId": "objections_handeled",
              "fieldValue": "={{ $('Formatting JSON').item.json.objections_handled }}"
            },
            {
              "fieldId": "next_steps",
              "fieldValue": "={{ $('Formatting JSON').item.json.next_steps }}"
            },
            {
              "fieldId": "improvements",
              "fieldValue": "={{ $('Formatting JSON').item.json.improvements }}"
            },
            {
              "fieldId": "call_outcome",
              "fieldValue": "={{ $('Formatting JSON').item.json.call_outcome }}"
            },
            {
              "fieldId": "short_summary",
              "fieldValue": "={{ $('Formatting JSON').item.json.short_summary }}"
            },
            {
              "fieldId": "lead_type_explanation",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.lead_type_explanation }}"
            },
            {
              "fieldId": "sentiments_explanation",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.sentiments_explanation }}"
            },
            {
              "fieldId": "engagement_explanation",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.engagement_explanation }}"
            },
            {
              "fieldId": "confidence_explanation_executive",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.confidence_explanation_executive }}"
            },
            {
              "fieldId": "confidence_explanation_person",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.confidence_explanation_person }}"
            },
            {
              "fieldId": "objections_detected",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.objections_detected }}"
            },
            {
              "fieldId": "objections_handling_details",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.objections_handling_details }}"
            },
            {
              "fieldId": "next_steps_detailed",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.next_steps_detailed }}"
            },
            {
              "fieldId": "improvements_for_team",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.improvements_for_team }}"
            },
            {
              "fieldId": "call_outcome_rationale",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.call_outcome_rationale }}"
            },
            {
              "fieldId": "evidence_quotes",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.evidence_quotes }}"
            },
            {
              "fieldId": "no_of_objections_detected",
              "fieldValue": "={{ $('Formatting JSON').item.json.objections_raised }}"
            },
            {
              "fieldId": "no_of_objections_handeled",
              "fieldValue": "={{ $('Formatting JSON').item.json.objections_handled }}"
            },
            {
              "fieldId": "confidence_score_executive",
              "fieldValue": "={{ $('Formatting JSON').item.json.confidence_score.executive }}"
            },
            {
              "fieldId": "lead_type",
              "fieldValue": "={{ $('Formatting JSON').item.json.lead_type }}"
            },
            {
              "fieldId": "project_accuracy_score",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.project_accuracy_score }}"
            },
            {
              "fieldId": "company_accuracy_reasoning",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.project_accuracy_reasoning }}"
            },
            {
              "fieldId": "company_accuracy_score",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.company_accuracy_score }}"
            },
            {
              "fieldId": "company_accuracy_reasoning",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.company_accuracy_reasoning }}"
            },
            {
              "fieldId": "project_context_used",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.project_context_used }}"
            },
            {
              "fieldId": "ceipal_context_used",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.ceipal_context_used }}"
            },
            {
              "fieldId": "project_accuracy_reasoning",
              "fieldValue": "={{ $('Formatting JSON').item.json.details.project_accuracy_reasoning }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2964,
        360
      ],
      "id": "67d32551-60e4-4e8e-8186-0072e2ca8982",
      "name": "Update Analysis in Database",
      "credentials": {
        "supabaseApi": {
          "id": "C8KVdbB0sNwgbR5D",
          "name": "Ceipal-Call-Analysis-Demo"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "recordings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Set Transcript').item.json.body.recording_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $('Set Transcript').item.json.body.transcript }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2744,
        360
      ],
      "id": "bbcbf23f-a43a-44f7-98d3-e19199fd3462",
      "name": "Update Transcript in Database",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "C8KVdbB0sNwgbR5D",
          "name": "Ceipal-Call-Analysis-Demo"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analyses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.recording_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "failed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2524,
        560
      ],
      "id": "68cf827b-3255-48bb-820a-12d040569ca3",
      "name": "Update status to Failed",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "C8KVdbB0sNwgbR5D",
          "name": "Ceipal-Call-Analysis-Demo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Ultra-safe AI JSON extractor for n8n (v3.1)\n * Fixes trailing text after JSON (e.g. \"Objections Raised: 3\")\n * Handles:\n *  - Corrupted ```json``` blocks\n *  - Extra text inside/outside fences\n *  - Objections counts after JSON\n */\n\nconst raw = String(items?.[0]?.json?.output || '').trim();\nif (!raw) throw new Error('AI output is empty');\n\n// 1️⃣ Extract fenced JSON block if present\nlet candidate = null;\nconst fenced = raw.match(/```json\\s*([\\s\\S]*?)\\s*```/i);\ncandidate = fenced ? fenced[1] : raw;\n\n// 2️⃣ Find first balanced JSON object\nconst start = candidate.indexOf('{');\nif (start === -1) throw new Error('No JSON object found');\n\nlet depth = 0;\nlet end = -1;\nfor (let i = start; i < candidate.length; i++) {\n  if (candidate[i] === '{') depth++;\n  if (candidate[i] === '}') depth--;\n  if (depth === 0) {\n    end = i;\n    break;\n  }\n}\n\nif (end === -1) throw new Error('Unbalanced JSON braces');\n\n// Extract only the JSON portion (ignore trailing non-JSON text)\nconst jsonText = candidate.slice(start, end + 1);\n\n// 3️⃣ Clean trailing commas or hidden junk (sometimes LLMs add them)\nconst cleaned = jsonText\n  .replace(/,\\s*}/g, '}')\n  .replace(/,\\s*]/g, ']')\n  .trim();\n\n// 4️⃣ Parse safely\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Invalid JSON structure: ' + e.message);\n}\n\n// 5️⃣ Extract main analysis\nconst analysis = parsed.callAnalysis || {};\n\n// 6️⃣ Detect objection counts from anywhere (after JSON too)\nconst raised = raw.match(/Objections\\s*Raised:\\s*(\\d+)/i);\nconst handled = raw.match(/Objections\\s*Handled:\\s*(\\d+)/i);\n\n// 7️⃣ Return normalized result\nreturn [\n  {\n    json: {\n      participants: analysis.participants || { count: 0, names: '' },\n      lead_type: analysis.lead_type ?? null,\n      sentiments_score: analysis.sentiments_score ?? null,\n      engagement_score: analysis.engagement_score ?? null,\n      confidence_score: analysis.confidence_score || {\n        executive: null,\n        person: null,\n      },\n      objections_handeled: analysis.objections_handeled ?? null,\n      next_steps: analysis.next_steps ?? null,\n      improvements: analysis.improvements ?? null,\n      call_outcome: analysis.call_outcome ?? null,\n      short_summary: analysis.short_summary ?? null,\n      details: analysis.details || {},\n      objections_raised: raised ? Number(raised[1]) : 0,\n      objections_handled: handled ? Number(handled[1]) : 0,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2524,
        360
      ],
      "id": "5d4912e2-22cd-4ca6-95cb-42c29c01a3d5",
      "name": "Formatting JSON"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.transcript }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=ROLE\nYou are an AI Sales Call Analyzer working for CEIPAL, a cloud-native AI-powered talent platform that helps enterprises and staffing agencies automate recruiting, applicant tracking, candidate sourcing, vendor management, and workforce operations.\n\nYour role is to analyze a single sales call transcript between a Sales Representative and a Prospect (and any available metadata such as timestamps, participants, or call duration).\n\nMANDATORY: You MUST use the following tools before or during analysis:\n- company_knowledge_base → to retrieve CEIPAL's products, features, integrations, pricing, and company context.\n- project_knowledge_base → to retrieve project-specific metadata and documents.\n\nYour analysis must focus on deal quality, prospect psychology, trust, readiness, objections, follow-ups, and execution discipline, exactly as required in high-value, long-cycle B2B SaaS sales.\n\nThis is NOT real estate or recruitment analysis.\nAll insights must be framed strictly in SaaS sales language (pricing models, demos, integrations, implementation timelines, ROI, decision-maker buy-in, budget approval, contract terms, platform adoption).\n\n────────────────────────────────────────\nANALYSIS OBJECTIVE (CEIPAL SAAS CONTEXT)\n\nYour analysis must help leadership answer:\n\n- How serious is the prospect right now?\n- Is trust being built or eroded?\n- Are objections clearly surfaced or hidden?\n- Did the representative leave the call with one clear next step?\n- Is this deal progressing, stalling, or quietly decaying?\n- What should the representative improve in the very next call?\n\n────────────────────────────────────────\nREPRESENTATIVE-LEVEL KPI LENS (MANDATORY)\n\nYour analysis must explicitly evaluate the call against these KPIs:\n\n1. Conversation Criticality  \n   → How important this call is based on deal value, sales stage, decision-maker involvement, and urgency.\n\n2. Prospect Readiness Level  \n   → How close the prospect is to making a decision, based on urgency, clarity, intent language, budget approval, and timeline signals.\n\n3. Prospect Trust at Risk  \n   → Any signals of doubt caused by vague answers, pressure tactics, missing clarity on features/pricing, unaddressed concerns, or credibility gaps.\n\n4. Next Deal Improvement Focus  \n   → ONE specific, actionable improvement the representative must apply in the next call.\n\nIf the transcript does not contain enough information, explicitly state:\n\"Irrelevant according to transcript\"\n\n────────────────────────────────────────\nLEAD TYPE CLASSIFICATION (MANDATORY)\n\nYou must classify the lead into ONE of the following types:\n\nAllowed Lead Types:\n- Hot\n- Warm\n- Warm-Cold (In-Between)\n- Cold\n\nHow to determine Lead Type:\n\nHOT\n- Clear budget allocated or approved\n- Defined timeline (days/weeks)\n- Willingness to schedule product demo or trial\n- Decision-maker engaged in call\n- Low objection intensity\n- Prospect language indicates near-purchase readiness\n- Active comparison with current solution\n\nWARM\n- Genuine interest in platform capabilities\n- Asking detailed questions (pricing, integrations, implementation, features)\n- Some dependency (management approval, IT review, procurement process)\n- Timeline exists but is flexible (quarters, not months)\n- Objections discussed openly\n- Willingness to involve technical team or stakeholders\n\nWARM-COLD (IN-BETWEEN)\n- Polite and responsive but avoids commitment\n- Exploratory language (\"just checking options\", \"gathering information\", \"will think about it\")\n- No urgency or next step locked\n- Emotionally interested, commercially passive\n- No clear pain point articulated\n- Timeline vague or \"future consideration\"\n\nCOLD\n- Minimal engagement or rushed tone\n- Avoidance behavior (\"send me info\", \"call later\", \"busy right now\")\n- No clear questions about solution\n- No budget or timeline clarity\n- Deflective language or gatekeeping\n- Not the decision-maker and unwilling to connect\n- Competitor already entrenched with no dissatisfaction\n\nYou must:\n- Select ONE lead type only\n- Provide a clear explanation for the chosen lead type\n- Base the explanation strictly on prospect language, intent signals, and behavior\n- Use direct prospect quotes where available, otherwise clearly paraphrase\n- Reference specific CEIPAL features or products discussed if relevant\n\nThe explanation MUST be placed in:\ndetails.lead_type_explanation\n\n────────────────────────────────────────\nCEIPAL & PROJECT CONTEXT RETRIEVAL (MANDATORY)\n\nBefore analyzing any call, you MUST:\n\nBefore analyzing the transcript, identify which CEIPAL project, product, or initiative is being discussed. \n\nYou MUST:\n1. Use the discover_project_knowledge_base tool to determine which project most closely matches the call context.\n   - Use keywords, descriptions, or names mentioned in the transcript.\n   - Retrieve its relevant metadata and documents.\n2. Once identified, use the project_knowledge_base tool to gather detailed information about that specific project.\n3. Then proceed with call analysis and factual verification.\n\nIf no project clearly matches, return “Project not identifiable from transcript”.\n\n────────────────────────────────────────\nOUTPUT FORMAT (STRICT)\n\nProduce exactly ONE JSON object.\nDo NOT add extra text before or after the JSON.\nDo NOT rename fields.\nDo NOT add extra keys.\nDo NOT output arrays.\n\nOUTPUT SCHEMA (MUST MATCH EXACTLY):\n\n{\n  \"callAnalysis\": {\n    \"participants\": {\n      \"count\": 0,\n      \"names\": \"\"\n    },\n    \"lead_type\": \"\",\n    \"sentiments_score\": 0,\n    \"engagement_score\": 0,\n    \"confidence_score\": {\n      \"executive\": 0,\n      \"person\": 0\n    },\n    \"objections_handled\": \"\",\n    \"next_steps\": \"\",\n    \"improvements\": \"\",\n    \"call_outcome\": \"\",\n    \"short_summary\": \"\",\n    \"details\": {\n      \"lead_type_explanation\": \"\",\n      \"sentiments_explanation\": \"\",\n      \"engagement_explanation\": \"\",\n      \"confidence_explanation_executive\": \"\",\n      \"confidence_explanation_person\": \"\",\n      \"objections_detected\": \"\",\n      \"objections_handling_details\": \"\",\n      \"next_steps_detailed\": \"\",\n      \"improvements_for_team\": \"\",\n      \"call_outcome_rationale\": \"\",\n      \"evidence_quotes\": \"\",\n      \"ceipal_context_used\": \"\",\n      \"project_context_used\": \"\",\n      \"company_accuracy_score\": 0,\n      \"company_accuracy_reasoning\": \"\",\n      \"project_accuracy_score\": 0,\n      \"project_accuracy_reasoning\": \"\"\n    }\n  }\n}\n\n────────────────────────────────────────\nFACTUAL VERIFICATION LOGIC (MANDATORY)\n\nWhen the agent or representative discusses:\n- **Company information** → verify it with company_knowledge_base.\n- **Product or platform features** → verify feature claims and accuracy.\n- **Project-specific statements** → verify them with project_knowledge_base.\n\nExample factual checks:\n- If rep says \"This project integrates with Salesforce\" → check if project_knowledge_base confirms Salesforce integration.\n- If rep says \"CEIPAL offers unlimited API calls\" → check if company_knowledge_base confirms that.\n- If a claim is partially true, reflect that in accuracy reasoning.\n\nAccuracy Scoring Rules:\n- 100 → All statements factually correct.\n- 80–99 → Mostly accurate, minor contextual gaps.\n- 60–79 → Some inaccuracies or exaggerations.\n- 40–59 → Several incorrect or missing facts.\n- 0–39 → Major factual misrepresentation.\n\n────────────────────────────────────────\nSCORING GUIDELINES (B2B SAAS)\n\nsentiments_score (0–100)\n- Calm, curious, collaborative → higher\n- Hesitant, guarded, skeptical, rushed → lower\n- Silence, avoidance, or dismissive tone → very low\n- Positive mentions of pain points CEIPAL solves → higher\n- Frustration with current solution → context-dependent\n\nengagement_score (0–100)\nEvaluate:\n- Prospect asking questions (features, pricing, implementation, integrations, ROI)\n- Responsiveness and conversation flow\n- Depth of technical discussion\n- Willingness to schedule follow-ups\n- Stakeholder involvement mentioned\n- Discussion of specific use cases\n- NOT based on call duration alone\n\nconfidence_score.executive (1–10)\nConfidence leadership would support pushing this deal forward based on:\n- Prospect seriousness and decision-making authority\n- Deal value and strategic fit\n- Clarity of next step and timeline\n- Risk level (competitor presence, budget uncertainty, org change)\n- CEIPAL's ability to address stated needs\n\nconfidence_score.person (1–10)\nConfidence the prospect will realistically move forward based on:\n- Budget comfort or approval path clarity\n- Timeline specificity\n- Willingness to schedule demo, trial, or technical review\n- Reduced objections or uncertainties\n- Champion identification within prospect org\n- Match between needs and CEIPAL capabilities\n\n────────────────────────────────────────\nOBJECTIONS (CRITICAL - SAAS CONTEXT)\n[… keep same objection definitions and handling instructions …]\n\n────────────────────────────────────────\nNEXT STEPS (NON-NEGOTIABLE)\n[… keep same next step rules …]\n\n────────────────────────────────────────\nIMPROVEMENTS (REP-FOCUSED, CEIPAL-SPECIFIC)\n[… same improvement logic …]\n\n────────────────────────────────────────\nEVIDENCE REQUIREMENT\nEvery numeric score must be justified using:\n- Exact prospect quotes (preferred)\n- OR clearly marked paraphrased prospect signals\n- Specific moments from the call (with timestamps if available)\n\nAll supporting quotes must be placed in:\ndetails.evidence_quotes\n\n────────────────────────────────────────\nOBJECTION COUNTS (MANDATORY OUTPUT)\nAfter the JSON, output EXACTLY two lines:\nObjections Raised: <number>\nObjections Handled: <number>\n\n────────────────────────────────────────\nDEFAULT HANDLING\nIf information is missing, unclear, or not discussed:\nReturn exactly:\n\"Irrelevant according to transcript\"\n\n────────────────────────────────────────\nCEIPAL COMPETITIVE CONTEXT\nWhen analyzing calls, be aware of CEIPAL's position:\n- Unified platform (ATS + CRM + VMS + Workforce Management)\n- AI-powered talent matching and ranking\n- Target market: Staffing firms, enterprise HR teams, MSPs\n- Key differentiators: End-to-end automation, real-time analytics, unified system\n- Common competitors: Bullhorn, JobDiva, Greenhouse, Lever, Workable\nUse the company_knowledge_base tool to retrieve specific competitive positioning, features, and messaging when relevant.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1860,
        260
      ],
      "id": "e7f4e56c-157e-4364-b103-fb54c71ce80b",
      "name": "Call-Analyzer-Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analyses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.recording_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "failed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1512,
        660
      ],
      "id": "f8aecec1-bd90-454f-896b-707a1977f623",
      "name": "Updating Error in transcript",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "C8KVdbB0sNwgbR5D",
          "name": "Ceipal-Call-Analysis-Demo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyCAKI_kbc1qjaxwOz0peERdcEBoncqEBf8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Transcribe this audio\"\n        },\n        {\n          \"file_data\": {\n            \"mime_type\": \"audio/mpeg\",\n            \"file_uri\": \"{{ $json.file.uri }}\"\n          }\n        }\n      ]\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1292,
        560
      ],
      "id": "11b51ecf-950a-478b-890d-db17899b72c9",
      "name": "Get Transcript from gemini",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyCAKI_kbc1qjaxwOz0peERdcEBoncqEBf8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file.display_name",
              "value": "my_audio_file"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        786,
        660
      ],
      "id": "93488c58-57de-49f7-9cb2-a512fb7237a8",
      "name": "Uploading Audio to Gemini",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.body.recording_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        660
      ],
      "id": "f4555980-204f-45bf-8bce-02c994e69a54",
      "name": "Downoad Audio File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1cf0f39-59b5-4812-b380-610ac52ac3f9",
              "name": "body.transcript",
              "value": "={{ $json.body.transcript }}",
              "type": "string"
            },
            {
              "id": "f18b3c44-4669-43bb-ad91-ddbc03e2230d",
              "name": "body.recording_id",
              "value": "={{ $('Webhook').item.json.body.recording_id }}",
              "type": "string"
            },
            {
              "id": "923b8470-cf8b-4620-b0f1-540627238483",
              "name": "body.analysis_id",
              "value": "={{ $('Webhook').item.json.body.analysis_id }}",
              "type": "string"
            },
            {
              "id": "c6f9c43b-bfd8-41f3-b671-86e131883919",
              "name": "body.project_id",
              "value": "={{ $json.body.project_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        1060
      ],
      "id": "86c1e15a-7a5d-4f3b-a15a-a42043574f3e",
      "name": "Setting Values1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.transcript }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=ROLE\nYou are an AI Sales Call Analyzer working for CEIPAL, a cloud-native AI-powered talent platform that helps enterprises and staffing agencies automate recruiting, applicant tracking, candidate sourcing, vendor management, and workforce operations.\n\nYour role is to analyze a single sales call transcript between a Sales Representative and a Prospect (and any available metadata such as timestamps, participants, or call duration).\n\nMANDATORY: You MUST use the following tools before or during analysis:\n- company_knowledge_base → to retrieve CEIPAL's products, features, integrations, pricing, and company context.\n- project_knowledge_base → to retrieve project-specific metadata and documents.\n\nYour analysis must focus on deal quality, prospect psychology, trust, readiness, objections, follow-ups, and execution discipline, exactly as required in high-value, long-cycle B2B SaaS sales.\n\nThis is NOT real estate or recruitment analysis.\nAll insights must be framed strictly in SaaS sales language (pricing models, demos, integrations, implementation timelines, ROI, decision-maker buy-in, budget approval, contract terms, platform adoption).\n\n────────────────────────────────────────\nANALYSIS OBJECTIVE (CEIPAL SAAS CONTEXT)\n\nYour analysis must help leadership answer:\n\n- How serious is the prospect right now?\n- Is trust being built or eroded?\n- Are objections clearly surfaced or hidden?\n- Did the representative leave the call with one clear next step?\n- Is this deal progressing, stalling, or quietly decaying?\n- What should the representative improve in the very next call?\n\n────────────────────────────────────────\nREPRESENTATIVE-LEVEL KPI LENS (MANDATORY)\n\nYour analysis must explicitly evaluate the call against these KPIs:\n\n1. Conversation Criticality  \n   → How important this call is based on deal value, sales stage, decision-maker involvement, and urgency.\n\n2. Prospect Readiness Level  \n   → How close the prospect is to making a decision, based on urgency, clarity, intent language, budget approval, and timeline signals.\n\n3. Prospect Trust at Risk  \n   → Any signals of doubt caused by vague answers, pressure tactics, missing clarity on features/pricing, unaddressed concerns, or credibility gaps.\n\n4. Next Deal Improvement Focus  \n   → ONE specific, actionable improvement the representative must apply in the next call.\n\nIf the transcript does not contain enough information, explicitly state:\n\"Irrelevant according to transcript\"\n\n────────────────────────────────────────\nLEAD TYPE CLASSIFICATION (MANDATORY)\n\nYou must classify the lead into ONE of the following types:\n\nAllowed Lead Types:\n- Hot\n- Warm\n- Warm-Cold (In-Between)\n- Cold\n\nHow to determine Lead Type:\n\nHOT\n- Clear budget allocated or approved\n- Defined timeline (days/weeks)\n- Willingness to schedule product demo or trial\n- Decision-maker engaged in call\n- Low objection intensity\n- Prospect language indicates near-purchase readiness\n- Active comparison with current solution\n\nWARM\n- Genuine interest in platform capabilities\n- Asking detailed questions (pricing, integrations, implementation, features)\n- Some dependency (management approval, IT review, procurement process)\n- Timeline exists but is flexible (quarters, not months)\n- Objections discussed openly\n- Willingness to involve technical team or stakeholders\n\nWARM-COLD (IN-BETWEEN)\n- Polite and responsive but avoids commitment\n- Exploratory language (\"just checking options\", \"gathering information\", \"will think about it\")\n- No urgency or next step locked\n- Emotionally interested, commercially passive\n- No clear pain point articulated\n- Timeline vague or \"future consideration\"\n\nCOLD\n- Minimal engagement or rushed tone\n- Avoidance behavior (\"send me info\", \"call later\", \"busy right now\")\n- No clear questions about solution\n- No budget or timeline clarity\n- Deflective language or gatekeeping\n- Not the decision-maker and unwilling to connect\n- Competitor already entrenched with no dissatisfaction\n\nYou must:\n- Select ONE lead type only\n- Provide a clear explanation for the chosen lead type\n- Base the explanation strictly on prospect language, intent signals, and behavior\n- Use direct prospect quotes where available, otherwise clearly paraphrase\n- Reference specific CEIPAL features or products discussed if relevant\n\nThe explanation MUST be placed in:\ndetails.lead_type_explanation\n\n────────────────────────────────────────\nCEIPAL & PROJECT CONTEXT RETRIEVAL (MANDATORY)\n\nBefore analyzing any call, you MUST:\n\nBefore analyzing the transcript, identify which CEIPAL project, product, or initiative is being discussed. \n\nYou MUST:\n1. Use the discover_project_knowledge_base tool to determine which project most closely matches the call context.\n   - Use keywords, descriptions, or names mentioned in the transcript.\n   - Retrieve its relevant metadata and documents.\n2. Once identified, use the project_knowledge_base tool to gather detailed information about that specific project.\n3. Then proceed with call analysis and factual verification.\n\nIf no project clearly matches, return “Project not identifiable from transcript”.\n\n────────────────────────────────────────\nOUTPUT FORMAT (STRICT)\n\nProduce exactly ONE JSON object.\nDo NOT add extra text before or after the JSON.\nDo NOT rename fields.\nDo NOT add extra keys.\nDo NOT output arrays.\n\nOUTPUT SCHEMA (MUST MATCH EXACTLY):\n\n{\n  \"callAnalysis\": {\n    \"participants\": {\n      \"count\": 0,\n      \"names\": \"\"\n    },\n    \"lead_type\": \"\",\n    \"sentiments_score\": 0,\n    \"engagement_score\": 0,\n    \"confidence_score\": {\n      \"executive\": 0,\n      \"person\": 0\n    },\n    \"objections_handled\": \"\",\n    \"next_steps\": \"\",\n    \"improvements\": \"\",\n    \"call_outcome\": \"\",\n    \"short_summary\": \"\",\n    \"details\": {\n      \"lead_type_explanation\": \"\",\n      \"sentiments_explanation\": \"\",\n      \"engagement_explanation\": \"\",\n      \"confidence_explanation_executive\": \"\",\n      \"confidence_explanation_person\": \"\",\n      \"objections_detected\": \"\",\n      \"objections_handling_details\": \"\",\n      \"next_steps_detailed\": \"\",\n      \"improvements_for_team\": \"\",\n      \"call_outcome_rationale\": \"\",\n      \"evidence_quotes\": \"\",\n      \"ceipal_context_used\": \"\",\n      \"project_context_used\": \"\",\n      \"company_accuracy_score\": 0,\n      \"company_accuracy_reasoning\": \"\",\n      \"project_accuracy_score\": 0,\n      \"project_accuracy_reasoning\": \"\"\n    }\n  }\n}\n\n────────────────────────────────────────\nFACTUAL VERIFICATION LOGIC (MANDATORY)\n\nWhen the agent or representative discusses:\n- **Company information** → verify it with company_knowledge_base.\n- **Product or platform features** → verify feature claims and accuracy.\n- **Project-specific statements** → verify them with project_knowledge_base.\n\nExample factual checks:\n- If rep says \"This project integrates with Salesforce\" → check if project_knowledge_base confirms Salesforce integration.\n- If rep says \"CEIPAL offers unlimited API calls\" → check if company_knowledge_base confirms that.\n- If a claim is partially true, reflect that in accuracy reasoning.\n\nAccuracy Scoring Rules:\n- 100 → All statements factually correct.\n- 80–99 → Mostly accurate, minor contextual gaps.\n- 60–79 → Some inaccuracies or exaggerations.\n- 40–59 → Several incorrect or missing facts.\n- 0–39 → Major factual misrepresentation.\n\n────────────────────────────────────────\nSCORING GUIDELINES (B2B SAAS)\n\nsentiments_score (0–100)\n- Calm, curious, collaborative → higher\n- Hesitant, guarded, skeptical, rushed → lower\n- Silence, avoidance, or dismissive tone → very low\n- Positive mentions of pain points CEIPAL solves → higher\n- Frustration with current solution → context-dependent\n\nengagement_score (0–100)\nEvaluate:\n- Prospect asking questions (features, pricing, implementation, integrations, ROI)\n- Responsiveness and conversation flow\n- Depth of technical discussion\n- Willingness to schedule follow-ups\n- Stakeholder involvement mentioned\n- Discussion of specific use cases\n- NOT based on call duration alone\n\nconfidence_score.executive (1–10)\nConfidence leadership would support pushing this deal forward based on:\n- Prospect seriousness and decision-making authority\n- Deal value and strategic fit\n- Clarity of next step and timeline\n- Risk level (competitor presence, budget uncertainty, org change)\n- CEIPAL's ability to address stated needs\n\nconfidence_score.person (1–10)\nConfidence the prospect will realistically move forward based on:\n- Budget comfort or approval path clarity\n- Timeline specificity\n- Willingness to schedule demo, trial, or technical review\n- Reduced objections or uncertainties\n- Champion identification within prospect org\n- Match between needs and CEIPAL capabilities\n\n────────────────────────────────────────\nOBJECTIONS (CRITICAL - SAAS CONTEXT)\n[… keep same objection definitions and handling instructions …]\n\n────────────────────────────────────────\nNEXT STEPS (NON-NEGOTIABLE)\n[… keep same next step rules …]\n\n────────────────────────────────────────\nIMPROVEMENTS (REP-FOCUSED, CEIPAL-SPECIFIC)\n[… same improvement logic …]\n\n────────────────────────────────────────\nEVIDENCE REQUIREMENT\nEvery numeric score must be justified using:\n- Exact prospect quotes (preferred)\n- OR clearly marked paraphrased prospect signals\n- Specific moments from the call (with timestamps if available)\n\nAll supporting quotes must be placed in:\ndetails.evidence_quotes\n\n────────────────────────────────────────\nOBJECTION COUNTS (MANDATORY OUTPUT)\nAfter the JSON, output EXACTLY two lines:\nObjections Raised: <number>\nObjections Handled: <number>\n\n────────────────────────────────────────\nDEFAULT HANDLING\nIf information is missing, unclear, or not discussed:\nReturn exactly:\n\"Irrelevant according to transcript\"\n\n────────────────────────────────────────\nCEIPAL COMPETITIVE CONTEXT\nWhen analyzing calls, be aware of CEIPAL's position:\n- Unified platform (ATS + CRM + VMS + Workforce Management)\n- AI-powered talent matching and ranking\n- Target market: Staffing firms, enterprise HR teams, MSPs\n- Key differentiators: End-to-end automation, real-time analytics, unified system\n- Common competitors: Bullhorn, JobDiva, Greenhouse, Lever, Workable\nUse the company_knowledge_base tool to retrieve specific competitive positioning, features, and messaging when relevant.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        620,
        1060
      ],
      "id": "eb35d1c4-3f20-45ed-8c1a-483c5e2a553e",
      "name": "Call-Analyzer-Agent (Transcript)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Ultra-safe AI JSON extractor for n8n (v3.1)\n * Fixes trailing text after JSON (e.g. \"Objections Raised: 3\")\n * Handles:\n *  - Corrupted ```json``` blocks\n *  - Extra text inside/outside fences\n *  - Objections counts after JSON\n */\n\nconst raw = String(items?.[0]?.json?.output || '').trim();\nif (!raw) throw new Error('AI output is empty');\n\n// 1️⃣ Extract fenced JSON block if present\nlet candidate = null;\nconst fenced = raw.match(/```json\\s*([\\s\\S]*?)\\s*```/i);\ncandidate = fenced ? fenced[1] : raw;\n\n// 2️⃣ Find first balanced JSON object\nconst start = candidate.indexOf('{');\nif (start === -1) throw new Error('No JSON object found');\n\nlet depth = 0;\nlet end = -1;\nfor (let i = start; i < candidate.length; i++) {\n  if (candidate[i] === '{') depth++;\n  if (candidate[i] === '}') depth--;\n  if (depth === 0) {\n    end = i;\n    break;\n  }\n}\n\nif (end === -1) throw new Error('Unbalanced JSON braces');\n\n// Extract only the JSON portion (ignore trailing non-JSON text)\nconst jsonText = candidate.slice(start, end + 1);\n\n// 3️⃣ Clean trailing commas or hidden junk (sometimes LLMs add them)\nconst cleaned = jsonText\n  .replace(/,\\s*}/g, '}')\n  .replace(/,\\s*]/g, ']')\n  .trim();\n\n// 4️⃣ Parse safely\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Invalid JSON structure: ' + e.message);\n}\n\n// 5️⃣ Extract main analysis\nconst analysis = parsed.callAnalysis || {};\n\n// 6️⃣ Detect objection counts from anywhere (after JSON too)\nconst raised = raw.match(/Objections\\s*Raised:\\s*(\\d+)/i);\nconst handled = raw.match(/Objections\\s*Handled:\\s*(\\d+)/i);\n\n// 7️⃣ Return normalized result\nreturn [\n  {\n    json: {\n      participants: analysis.participants || { count: 0, names: '' },\n      lead_type: analysis.lead_type ?? null,\n      sentiments_score: analysis.sentiments_score ?? null,\n      engagement_score: analysis.engagement_score ?? null,\n      confidence_score: analysis.confidence_score || {\n        executive: null,\n        person: null,\n      },\n      objections_handeled: analysis.objections_handeled ?? null,\n      next_steps: analysis.next_steps ?? null,\n      improvements: analysis.improvements ?? null,\n      call_outcome: analysis.call_outcome ?? null,\n      short_summary: analysis.short_summary ?? null,\n      details: analysis.details || {},\n      objections_raised: raised ? Number(raised[1]) : 0,\n      objections_handled: handled ? Number(handled[1]) : 0,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1292,
        960
      ],
      "id": "aefd973d-852d-4b80-897f-67e7aed54c53",
      "name": "Formatting JSON1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "recordings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Setting Values1').item.json.body.recording_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $('Setting Values1').item.json.body.transcript }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1512,
        960
      ],
      "id": "a9a1ac14-e15b-49d7-aff3-bfd4e9de1ba9",
      "name": "Update Transcript in Database1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "C8KVdbB0sNwgbR5D",
          "name": "Ceipal-Call-Analysis-Demo"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analyses",
        "filters": {
          "conditions": [
            {
              "keyName": "recording_id",
              "condition": "eq",
              "keyValue": "={{ $('Setting Values1').item.json.body.recording_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "Completed"
            },
            {
              "fieldId": "participants",
              "fieldValue": "={{ $('Formatting JSON1').item.json.participants }}"
            },
            {
              "fieldId": "sentiments_score",
              "fieldValue": "={{ $('Formatting JSON1').item.json.sentiments_score }}"
            },
            {
              "fieldId": "engagement_score",
              "fieldValue": "={{ $('Formatting JSON1').item.json.engagement_score }}"
            },
            {
              "fieldId": "confidence_score_person",
              "fieldValue": "={{ $('Formatting JSON1').item.json.confidence_score.person }}"
            },
            {
              "fieldId": "objections_handeled",
              "fieldValue": "={{ $('Formatting JSON1').item.json.objections_handled }}"
            },
            {
              "fieldId": "next_steps",
              "fieldValue": "={{ $('Formatting JSON1').item.json.next_steps }}"
            },
            {
              "fieldId": "improvements",
              "fieldValue": "={{ $('Formatting JSON1').item.json.improvements }}"
            },
            {
              "fieldId": "call_outcome",
              "fieldValue": "={{ $('Formatting JSON1').item.json.call_outcome }}"
            },
            {
              "fieldId": "short_summary",
              "fieldValue": "={{ $('Formatting JSON1').item.json.short_summary }}"
            },
            {
              "fieldId": "lead_type_explanation",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.lead_type_explanation }}"
            },
            {
              "fieldId": "sentiments_explanation",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.sentiments_explanation }}"
            },
            {
              "fieldId": "engagement_explanation",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.engagement_explanation }}"
            },
            {
              "fieldId": "confidence_explanation_executive",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.confidence_explanation_executive }}"
            },
            {
              "fieldId": "confidence_explanation_person",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.confidence_explanation_person }}"
            },
            {
              "fieldId": "objections_detected",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.objections_detected }}"
            },
            {
              "fieldId": "objections_handling_details",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.objections_handling_details }}"
            },
            {
              "fieldId": "next_steps_detailed",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.next_steps_detailed }}"
            },
            {
              "fieldId": "improvements_for_team",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.improvements_for_team }}"
            },
            {
              "fieldId": "call_outcome_rationale",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.call_outcome_rationale }}"
            },
            {
              "fieldId": "evidence_quotes",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.evidence_quotes }}"
            },
            {
              "fieldId": "no_of_objections_detected",
              "fieldValue": "={{ $('Formatting JSON1').item.json.objections_raised }}"
            },
            {
              "fieldId": "no_of_objections_handeled",
              "fieldValue": "={{ $('Formatting JSON1').item.json.objections_handled }}"
            },
            {
              "fieldId": "confidence_score_executive",
              "fieldValue": "={{ $('Formatting JSON1').item.json.confidence_score.executive }}"
            },
            {
              "fieldId": "lead_type",
              "fieldValue": "={{ $('Formatting JSON1').item.json.lead_type }}"
            },
            {
              "fieldId": "project_accuracy_score",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.project_accuracy_score }}"
            },
            {
              "fieldId": "company_accuracy_reasoning",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.project_accuracy_reasoning }}"
            },
            {
              "fieldId": "company_accuracy_score",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.company_accuracy_score }}"
            },
            {
              "fieldId": "company_accuracy_reasoning",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.company_accuracy_reasoning }}"
            },
            {
              "fieldId": "project_context_used",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.project_context_used }}"
            },
            {
              "fieldId": "ceipal_context_used",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.ceipal_context_used }}"
            },
            {
              "fieldId": "project_accuracy_reasoning",
              "fieldValue": "={{ $('Formatting JSON1').item.json.details.project_accuracy_reasoning }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2018,
        960
      ],
      "id": "081c9596-4281-4930-9316-48d2fb2573ae",
      "name": "Update Analysis in Database1",
      "credentials": {
        "supabaseApi": {
          "id": "C8KVdbB0sNwgbR5D",
          "name": "Ceipal-Call-Analysis-Demo"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analyses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.recording_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "failed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1292,
        1160
      ],
      "id": "c1a0b2a2-df03-413b-85f9-731d4d196544",
      "name": "Update status to Failed1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "C8KVdbB0sNwgbR5D",
          "name": "Ceipal-Call-Analysis-Demo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4df8e6a-40db-472c-8d5a-7d6bfd8d633a",
              "leftValue": "={{ $json.body.transcript }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        860
      ],
      "id": "aa512a31-934c-400c-9582-66689459a60b",
      "name": "Check if Transcript or Audio file"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9150eb3-f117-477c-abe1-0de98d2fe0ca",
              "name": "Transcript",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "a00c8722-f8e1-4ae7-bf71-9126e7e902c4",
              "name": "recording ID",
              "value": "={{ $('Webhook').item.json.body.recording_id }}",
              "type": "string"
            },
            {
              "id": "cd279805-453d-4c0b-ba8e-e83fbf7aad36",
              "name": "body.name",
              "value": "={{ $('Webhook').item.json.body.recording_name }}",
              "type": "string"
            },
            {
              "id": "89afc2bf-2023-4802-bbbd-efcd4ab21428",
              "name": "body.analysis_id",
              "value": "={{ $('Webhook').item.json.body.analysis_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1512,
        460
      ],
      "id": "323a197f-3d7e-457f-a747-e3ce25c5e5c3",
      "name": "Set Transcript"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analyses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.recording_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "failed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1292,
        760
      ],
      "id": "cc7b29d6-0a2e-4021-a04f-d495f4caa864",
      "name": "Update status to Failed2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "C8KVdbB0sNwgbR5D",
          "name": "Ceipal-Call-Analysis-Demo"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8nautomation.site",
            "x-real-ip": "172.69.95.140",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "2406:da1a:c77:d407:14d5:6104:69f6:e232, 172.69.95.140",
            "content-length": "5628",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "user-agent": "Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.69.25)",
            "cf-ray": "9b830b7aaa953f79-BOM",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2406:da1a:c77:d407:14d5:6104:69f6:e232",
            "cf-ipcountry": "IN",
            "cf-visitor": "{\"scheme\":\"https\"}"
          },
          "params": {},
          "query": {},
          "body": {
            "recording_id": "36f2c6b5-44d6-42b2-a53b-8942b11ffd99",
            "analysis_id": "6ac8a5c5-2491-4921-85d2-b5ecfdf911d8",
            "recording_name": "demo-call-1",
            "recording_url": null,
            "transcript": "arah: Good morning, Michael! This is Sarah Chen from Ceipal. Thank you so much for taking the time to speak with me today. How are you doing?\n\nMichael: Good morning, Sarah. I'm doing well, thanks. A bit busy, but I'm curious to hear what you have to share.\n\nSarah: I appreciate that, and I'll be mindful of your time. I understand that TechRetail Solutions has been experiencing some challenges with customer support response times, especially during peak seasons. Is that still a pain point for you?\n\n\nMichael: You've done your homework! Yes, exactly. During holiday seasons, our support team gets completely overwhelmed. We're getting about 3,000 tickets a day, and our average response time shoots up to 8-10 hours. Customers are not happy, and frankly, neither are we.\n\nSarah: I can imagine how frustrating that must be for both your team and your customers. That's actually why I wanted to reach out. We've recently developed an AI Customer Support Assistant that's specifically designed to handle exactly this kind of situation. Can I take just a couple of minutes to walk you through how it could help?\n\nMichael: Sure, go ahead. I'm listening.\n\nSarah: Excellent. So our AI Customer Support Assistant integrates directly with your existing helpdesk system - whether that's Zendesk, Freshdesk, or whatever you're using. Here's what makes it special. First, it uses advanced natural language processing to understand customer queries in real-time, not just keyword matching like basic chatbots. \n\nThe system can handle about 70-80% of common support queries automatically - things like order tracking, return policies, account issues, basic troubleshooting. And here's the key part: when it can't fully resolve something, it doesn't just drop the customer. It gathers all the relevant information and creates a detailed ticket for your human agents, so they can jump right into solving the problem without asking the customer to repeat everything.\n\nMichael: Hmm, interesting. But we've tried chatbots before, and customers hated them. They felt too robotic and often gave wrong answers.\n\n\nSarah: That's a completely valid concern, and honestly, that's exactly what makes our solution different. Our AI is trained on your specific products, policies, and past support interactions. It learns your brand voice and adapts its responses accordingly. Plus, it has a confidence scoring system - if it's not at least 85% confident in an answer, it automatically escalates to a human agent rather than guessing.\n\nWe've seen this work really well with a similar e-commerce client. Within the first month, they reduced their average response time from 9 hours to 45 minutes, and their customer satisfaction scores actually went up by 23%. Their support team loves it because they're no longer drowning in simple, repetitive questions and can focus on complex issues that really need human expertise.\n\nMichael: Those numbers are impressive. What about implementation? We can't afford a lot of downtime or a long learning curve for our team.\n\n\nSarah: Great question. Implementation typically takes 2-3 weeks. Here's the timeline: Week one, we integrate with your systems and train the AI on your knowledge base and past tickets. Week two, we run it in shadow mode where it suggests responses but doesn't send them - your team can review and approve everything. Week three, we go live with graduated rollout, starting with maybe 20% of tickets and scaling up as you get comfortable.\n\nYour team doesn't need any technical training. The interface looks almost identical to what they're already using. And we provide 24/7 monitoring for the first 90 days, with a dedicated success manager - that would be me - to make sure everything runs smoothly.\n\nMichael: Okay, I'm definitely interested. What kind of investment are we looking at here?\n\nSarah: The pricing is based on ticket volume. For your current volume of about 3,000 tickets a day, we're looking at around $4,500 per month. Now, I know that might sound like a significant investment, but let me put it in perspective. You're probably spending about $50,000 a month on your support team currently, right? With our AI handling 75% of tickets, you could either handle 4x the volume with the same team, or reduce staffing costs significantly. Most clients see ROI within 3-4 months.\n\nWe also offer a 30-day pilot program at 50% off, so you can test it risk-free with real tickets and see the results yourself before committing to the full implementation.\n\nMichael: That's actually more reasonable than I expected. The pilot program sounds like a good way to validate this.\n\n\nSarah: Fantastic! I think you'll be really impressed with the results. How about I send over a detailed proposal with the pilot program terms, some case studies from similar companies, and we can schedule a technical demo for next week? Would Tuesday or Thursday afternoon work better for you?\n\nMichael: Thursday afternoon would be perfect. Let's say 2 PM?\n\nSarah: Perfect! I'll send you a calendar invite right after this call, along with the proposal. Michael, I really appreciate your time today, and I'm excited to show you how this can transform your customer support operations.\n\nMichael: Thanks, Sarah. I'm looking forward to seeing it in action. Talk to you Thursday!\n\nSarah: Excellent! Have a great rest of your day, Michael.",
            "project_id": "bc6bf3b0-2baa-403e-9df8-d74519360693"
          },
          "webhookUrl": "https://n8nautomation.site/webhook/a9099f1a-02cb-45e8-8672-fd3d2d95adee",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Call-Analyzer-Agent (Transcript)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store (company_brain_embeddings)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check if Transcript or Audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store (company_brain_embeddings)": {
      "ai_tool": [
        [
          {
            "node": "Call-Analyzer-Agent (Transcript)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store (project_discovery)": {
      "ai_tool": [
        [
          {
            "node": "Call-Analyzer-Agent (Transcript)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini3": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store (project_discovery)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Call-Analyzer-Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store (company_brain_embeddings)1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store (company_brain_embeddings)1": {
      "ai_tool": [
        [
          {
            "node": "Call-Analyzer-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store (project_discovery)1": {
      "ai_tool": [
        [
          {
            "node": "Call-Analyzer-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini4": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store (project_discovery)1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Update Transcript in Database": {
      "main": [
        [
          {
            "node": "Update Analysis in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatting JSON": {
      "main": [
        [
          {
            "node": "Update Transcript in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call-Analyzer-Agent": {
      "main": [
        [
          {
            "node": "Formatting JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update status to Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transcript from gemini": {
      "main": [
        [
          {
            "node": "Set Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Updating Error in transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uploading Audio to Gemini": {
      "main": [
        [
          {
            "node": "Get Transcript from gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update status to Failed2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Downoad Audio File": {
      "main": [
        [
          {
            "node": "Uploading Audio to Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting Values1": {
      "main": [
        [
          {
            "node": "Call-Analyzer-Agent (Transcript)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call-Analyzer-Agent (Transcript)": {
      "main": [
        [
          {
            "node": "Formatting JSON1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update status to Failed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatting JSON1": {
      "main": [
        [
          {
            "node": "Update Transcript in Database1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Transcript in Database1": {
      "main": [
        [
          {
            "node": "Update Analysis in Database1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Transcript or Audio file": {
      "main": [
        [
          {
            "node": "Setting Values1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Downoad Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Transcript": {
      "main": [
        [
          {
            "node": "Call-Analyzer-Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f353a499-d91e-41f7-8150-6a9e18161318",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8ab3f02c990a557b26109eb98c0e09c005bd259e9c19b944b90670f8bd428b9"
  },
  "id": "XeWYtH5Iv3F9txR8",
  "tags": []
}